#switchMini{
    background-color: antiquewhite;
    font-style: italic;
    color: rgb(255, 0, 0);
}
#switchp{
    font-size: small;
}

#dv_1 {
    background-color: aqua;
}
body{
    background: black;
    color: white;
}